.clicked {
  background-color: blue;
}

.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #DFDFDF;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

.jumbotron p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 200;
  overflow:hidden;
  word-break: break-all;
  /*white-space: nowrap;*/
}

.btn_mb {
  padding: 3px 6px;
}

.event_image_modal_dialog{
  margin-left:30px;
  width:1230px;
}

.event_image_modal_body{
  overflow-x:auto;
  overflow-y:auto;
}