{% extends "base.html" %}
{% block content %}
<script src="/static/js/misbehave.js"></script>
<div class="container">
	<div class="row" style="margin-top:35px;">
		<div class="col-md-3" style="padding-left:0px;padding-right:5px;">
			<p class="text-center">Time Range 1</p>
			<div class="col-md-6" style="padding-right:2px;">
			    <div class="input-append date" data-date-format="dd-mm-yyyy">
					<input class="span2 datepicker form-control" size="16" type="text" id="dp1" placeholder="Select From Date" min="02/03/2015">
			    </div>
		    </div>
		    <div class="col-md-6" style="padding-left:2px;">
			    <div class="input-append date" data-date-format="dd-mm-yyyy">
					<input class="span2 datepicker form-control" size="16" type="text" id="dp2" placeholder="Select To Date" min="02/03/2015">
			    </div>
		    </div>
		</div>
		<div class="col-md-3" style="padding-left:5px;">
			<p class="text-center">Time Range 2</p>
		    <div class="col-md-6" style="padding-right:2px;">
			    <div class="input-append date" data-date-format="dd-mm-yyyy">
					<input class="span2 datepicker form-control" size="16" type="text" id="dp3" placeholder="Select From Date" min="02/03/2015">
			    </div>
		    </div>
		    <div class="col-md-6" style="padding-left:2px;">
			    <div class="input-append date" data-date-format="dd-mm-yyyy">
					<input class="span2 datepicker form-control" size="16" type="text" id="dp4" placeholder="Select To Date" min="02/03/2015">
			    </div>
		    </div>
		</div>
		<div class="col-md-2 pull-right" style="padding-top:30px;">
			<button class="btn btn-danger" id="getList">Run</button>
		</div>
	</div>
	<div class="panel panel-default" style="margin-top:60px;">
		<div class="panel-body" style="padding:7px;">
			<div class="page-header" style="margin-top:25px;">
				<h2>List</h2>
			</div>
			<div id="behavior_list">
			</div>
		</div>
		<!-- <div class="panel-footer">The List</div> -->
	</div>
</div>
{% endblock %}