{% extends "base.html" %}
{% block content %}
<script src="/static/js/mismatch.js"></script>
<div class="container">
	<ul class="nav nav-tabs" style="padding-top:30px">
	  <li role="presentation" id="getMatchData_li"><a href="#" id="getMatchData">Match</a></li>
	  <li role="presentation" id="getMismatchData_li"><a href="#" id="getMismatchData">Mismatch</a></li>
	</ul>
	<div class="panel panel-default" style="margin-top:25px;">
		<div class="panel-body">
			<div class="page-header" style="margin-top:25px;">
				<h2>List</h2>
			</div>
			<div id="mismatch_list">
			</div>
		</div>
		<!-- <div class="panel-footer">The List</div> -->
	</div>
</div>
{% endblock %}